------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="QUERY"

${__SEQUENCE__}
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="db"

nucleotide
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="GENETIC_CODE"

1
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="ADV_VIEW"

true
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="stype"

nucleotide
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="DBTYPE"

gc
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="DATABASE"

nt
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="NUM_ORG"

1
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="BLAST_PROGRAMS"

megaBlast
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="MAX_NUM_SEQ"

100
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="SHORT_QUERY_ADJUST"

on
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="EXPECT"

0.05
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="WORD_SIZE"

28
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="HSP_RANGE_MAX"

0
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="MATRIX_NAME"

PAM30
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="MATCH_SCORES"

1,-2
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="GAPCOSTS"

0 0
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="COMPOSITION_BASED_STATISTICS"

0
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="FILTER"

L
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="REPEATS"

repeat_9606
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="FILTER"

m
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="TEMPLATE_LENGTH"

0
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="TEMPLATE_TYPE"

0
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="SHOW_OVERVIEW"

true
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="SHOW_LINKOUT"

true
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="GET_SEQUENCE"

true
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="FORMAT_OBJECT"

Alignment
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="FORMAT_TYPE"

HTML
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="ALIGNMENT_VIEW"

Pairwise
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="MASK_CHAR"

2
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="MASK_COLOR"

1
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="DESCRIPTIONS"

100
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="ALIGNMENTS"

100
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="LINE_LENGTH"

60
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="NEW_VIEW"

false
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="NCBI_GI"

false
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="SHOW_CDS_FEATURE"

false
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="NUM_OVERVIEW"

100
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="FORMAT_NUM_ORG"

1
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="CONFIG_DESCR"

2,3,6,7,8,9,10,11,12
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="CLIENT"

web
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="SERVICE"

plain
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="CMD"

request
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="PAGE"

MegaBlast
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="PROGRAM"

blastn
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="MEGABLAST"

on
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="DEFAULT_PROG"

megaBlast
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="SELECTED_PROG_TYPE"

megaBlast
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="SAVED_SEARCH"

true
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="NUM_DIFFS"

0
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="NUM_OPTS_DIFFS"

0
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="UNIQ_DEFAULTS_NAME"

A_SearchDefaults_1l54bl_1cqS_dqeE3Trk5Q_23to07_1IGpbX
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="PAGE_TYPE"

BlastSearch
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="USER_DEFAULT_PROG_TYPE"

megaBlast
------WebKitFormBoundaryRjYrD0KRqgaCBmfT
Content-Disposition: form-data; name="USER_DEFAULT_MATCH_SCORES"

0
------WebKitFormBoundaryRjYrD0KRqgaCBmfT--
